$color-grey: #777;
$color-grey2:#999;
$color-grey3:#333;

$color-grey-dark:#eee;



$color-white: white;
$color-white-btn: white;
$color-black:black;
$color-grey-light-1:#f7f7f7;
$color-light-green: #479761;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//border radius
$border-rad:3px;

//FONT
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$padding-btn-2nd:0.7rem;

$gutter-vertical: 8rem;
$gutter-horizontal:6rem;

//shaddows

$shadow1: 0 1.5rem 4rem rgba($color-black, .15);